manifest {
    name            = 'MitoGEx-Nextflow'
    author          = 'MitoGEx Team'
    description     = 'Mitochondrial Genome Explorer Nextflow Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    input                      = null
    outdir                     = 'results'
    project_title              = 'MitoGEx_Project'
    qc_tool                    = 'fastp'
    fasta                      = null
    bwa_index                  = null
    
    // Additional parameters for references and databases will be added
}

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
    }
    conda {
        conda.enabled          = true
    }
}
