manifest {
    name            = 'MitoGEx-Nextflow'
    author          = 'MitoGEx Team'
    description     = 'Mitochondrial Genome Explorer Nextflow Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

plugins {
    id 'nf-validation@1.1.3'
}

params {
    input                      = null
    outdir                     = 'results'
    project_title              = 'MitoGEx_Project'
    qc_tool                    = 'fastp'
    fasta                      = null
    bwa_index                  = null
    fai                        = null
    dict                       = null
    annovar_db                 = null
    web_scripts_dir            = null
    help                       = false
}

profiles {
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
    }
    conda {
        conda.enabled          = true
    }
    test {
        params.input           = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/illumina/csv/samplesheet.csv'
        params.fasta           = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta'
        params.fai             = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.fasta.fai'
        params.dict            = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/genome.dict'
        params.bwa_index       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/sarscov2/genome/index/bwa/'
        params.annovar_db      = 'dummy_annovar_db'
        params.web_scripts_dir = 'dummy_web_scripts_dir'
    }
}
