process {
    withName: FASTQC {
        publishDir = [
            path: { "${params.outdir}/QC/fastqc" },
            mode: 'copy'
        ]
    }
    withName: FASTP {
        publishDir = [
            path: { "${params.outdir}/QC/fastp" },
            mode: 'copy'
        ]
    }
    withName: BWA_MEM {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: 'copy'
        ]
    }
    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: 'copy'
        ]
    }
    withName: PICARD_ADDORREPLACEREADGROUPS {
        publishDir = [
            path: { "${params.outdir}/alignment" },
            mode: 'copy'
        ]
    }
    withName: QUALIMAP_BAMQC {
        publishDir = [
            path: { "${params.outdir}/QC/qualimap" },
            mode: 'copy'
        ]
    }
    withName: GATK_MUTECT2 {
        publishDir = [
            path: { "${params.outdir}/variant_calling" },
            mode: 'copy'
        ]
    }
    withName: GATK_FILTER_MUTECT_CALLS {
        publishDir = [
            path: { "${params.outdir}/variant_calling" },
            mode: 'copy'
        ]
    }
    withName: GATK_LEFTALIGNANDTRIMVARIANTS {
        publishDir = [
            path: { "${params.outdir}/variant_calling" },
            mode: 'copy'
        ]
    }
    withName: ANNOVAR {
        publishDir = [
            path: { "${params.outdir}/annotation" },
            mode: 'copy'
        ]
    }
    withName: HAPLOGREP3 {
        publishDir = [
            path: { "${params.outdir}/annotation" },
            mode: 'copy'
        ]
    }
    withName: IQTREE2 {
        publishDir = [
            path: { "${params.outdir}/phylogeny" },
            mode: 'copy'
        ]
    }
    withName: MITOGEX_REPORT {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: 'copy'
        ]
    }
}
